/*body {
    text-align: center;
}*/

/*!*form[name="inscription"] *!.error {
    background-color: coral;
}*/

.msg_error {
    color: red;
}

#main_menu {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 20px;
}

#main_menu li{
    border: 2px solid black;
    display: inline-block;
    padding: 0;
}

#main_menu ul {
    text-align: center;
}

#main_menu li:hover {
    background-color: aqua;
    cursor: pointer;
}
#main_menu li:active {
    background-color: blueviolet;
}

h1{
    font-size: 350%;
}


.container {
    width: 500px;
    height: 700px;
}
#footer {
    background-color: black;
    margin-top: 40%;
}

/* unvisited link */
a:link {
    color: grey;
}

/* visited link */
a:visited {
    color: grey;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}
.subtitle {
    color: white;
}
p {
    color: grey;
    text-align: center;
    margin-top: 25px;
}
.contact {
    display: inline-block;
    text-align: left;
    margin-left: 5%;

}
.Explorer {
    display: inline-block;
    text-align: left;
    margin-left: 15%;
}
.media_Sociaux {
    display: inline-block;
    text-align: left;
    margin-left: 25%;
}
input.search-query {
    padding-left:5px;
}
form.form-search {
    position: relative;
}
form.form-search:before {
    display: block;
    width: 14px;
    height: 14px;
    content: "\e003";
    background-position: -48px 0;
    position: absolute;
    top:8px;
    left:8px;
    opacity: .5;
    z-index: 1000;
}
.col-sm-4{
    width: 200px;
    text-align: left;
}

#espace {
    height: 500px;
}

.definition{
    text-align: left;
    font-family: "Lucida Grande", Tahoma;
    font-size: 20px;
    font-weight: lighter;
    font-variant: normal;
    text-transform: uppercase;
    color: #666666;
    margin-top: 10px;
    letter-spacing: 0.3em;
}
#categories_droite{
    float: right;
}
img {
    width: 50px;
    height: 600px;
}
.titre{
    display: block;
    text-align: center;
}